# build output
dist/
.astro/

# dependencies
node_modules/

# cloudflare / wrangler
.wrangler/
.dev.vars

# env & secrets
.env
.env.local
*.local

# logs
npm-debug.log*
pnpm-debug.log*
logs/
*.log

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
